<script>
    import { base } from "$app/paths";
    import { AreaChart } from "@carbon/charts-svelte";
    import toptwohundo from "$data/words_per_year.json";
    let data = Object.keys(toptwohundo).map((tth) => ({
        group: 1,
        date: new Date(tth, "00").toISOString(),
        value: toptwohundo[tth],
    }));
</script>

<AreaChart
    {data}
    options={{
        title: "Just a Count of All Words (Area Chart)",
        axes: {
            bottom: {
                title: "Words per Decade",
                mapsTo: "date",
                scaleType: "time",
            },
            left: {
                mapsTo: "value",
                scaleType: "linear",
            },
        },
        curve: "curveNatural",
        height: "90vh",
    }}
/>

<h3><a href={base + "/percent"}>Next: Percent of the Whole?</a></h3>
