<script>
	import { BubbleChart } from '@carbon/charts-svelte';
	import { Tile } from 'carbon-components-svelte';
	export let data;

	let shortColorsObj = {
		flame: [241, 97, 81],
		parkGreen: [32, 84, 62],
		tile: [146, 88, 64],
		sapphire: [64, 81, 163],
		lake: [126, 196, 226],
		mulberry: [173, 43, 90],
		lavender: [205, 184, 209],
		midnight: [17, 26, 42],
		sand: [234, 220, 201],
		granite: [234, 235, 231]
	};
	let shortColors = [
		[241, 97, 81],
		[32, 84, 62],
		[146, 88, 64],
		[64, 81, 163],
		[126, 196, 226],
		[173, 43, 90],
		[205, 184, 209],
		[17, 26, 42]
	];

	let { words } = data;
	let { results } = data;
	let howMany = 15;

	let range = [Math.min(...results.map((d) => d.year)), Math.max(...results.map((d) => d.year))];

	let fraction = Math.round((range[1] - range[0]) / howMany);
	let groups = Array.from({ length: howMany }).map((_, i) => [
		range[0] + i * fraction,
		range[0] + i * fraction + fraction,
		words
			.map((word) => [
				word,
				results.filter(
					(r) =>
						range[0] + i * fraction < r.year &&
						range[0] + i * fraction + fraction > r.year &&
						r.text.indexOf(word) > -1
				).length
			])
			.reduce((obj, item) => ((obj[item[0]] = item[1]), obj), {}),

		words
			.map((word) => [
				word,
				(results.filter(
					(r) =>
						range[0] + i * fraction < r.year &&
						range[0] + i * fraction + fraction > r.year &&
						r.text.indexOf(word) > -1
				).length /
					results.filter((r) => r.text.indexOf(word) > -1).length) *
					100
			])
			.reduce((obj, item) => ((obj[item[0]] = item[1]), obj), {})
	]);
	let chartData = words
		.map((word) =>
			groups.map((g) => ({
				group: word,
				date: new Date(g[0], '00'),
				value: g[2][word],
				percent: g[3][word]
			}))
		)
		.flat();
	// console.log('range', range);
	// console.log('groups', groups);
	// console.log('chartData', chartData);
	const options = {
		title: 'Bubble (time series)',
		axes: {
			bottom: {
				title: 'date range',
				scaleType: 'time',
				mapsTo: 'date'
			},
			left: {
				mapsTo: 'value'
			}
		},
		bubble: {
			radiusMapsTo: 'percent'
		},
		height: '80vh'
	};
</script>

<Tile>
	<pre>
        {JSON.stringify(data.rresults, null, 4)}
    </pre>
	<BubbleChart data={chartData} {options} />
</Tile>
