<script>
	import { ComboChart } from '@carbon/charts-svelte';
	import { toggle } from '$src/stores';

	import { page } from '$app/stores';
	import yearfreq from '$data/yearfreq.json';

	$: colors = $toggle
		? ['rgb(64,81,163)', 'rgb(126,196,226)']
		: ['rgb(241,97,81)', 'rgb(146,88,64)'];
	let initrange = [1700, 2000];
	let range = $page.params.years.includes('/')
		? [$page.params.years.split('/')[0], $page.params.years.split('/')[1]]
		: [$page.params.years, initrange[1]];
	range = range.map((r, i) => (parseInt(r) ? parseInt(r) : initrange[i]));
	// console.log(range);

	let fifths = Math.round((range[1] - range[0]) / 5);
	// console.log('fifths', fifths);

	let groups = Array.from({ length: 5 }).map((_, i) => [
		range[0] + i * fifths,
		range[0] + i * fifths + fifths,
		0,
		0
	]);

	let datathumper = {
		words: Object.entries(yearfreq.words).map(([k, v]) => {
			groups.map((g) =>
				g[0] < k && g[1] > k && range[0] < k && range[1] > k ? (g[2] += v) : 'nope'
			);
		}),
		lines: Object.entries(yearfreq.lines).map(([k, v]) => {
			groups.map((g) => (g[0] < k && g[1] > k ? (g[3] += v) : 'nope'));
		}),
		linelength: groups.map((g) => [...g, Math.round(g[2] / g[3])])
	};

	let data = [
		...groups.map((y) => ({
			group: 'transcriptions',
			key: y[0] + '-' + y[1],
			transcriptioncount: y[3]
		})),
		...groups.map((y) => ({
			group: 'lengths',
			key: y[0] + '-' + y[1],
			transcriptionlength: Math.round((y[2] / y[3]) * 100) / 100 / 50
		}))
	];

	$: options = {
		title: 'Transcription / Time  (Line + Area)',
		points: {
			enabled: false
		},
		axes: {
			left: {
				title: 'transcription count',
				mapsTo: 'transcriptioncount',
				correspondingDatasets: ['transcriptions']
			},
			bottom: {
				scaleType: 'labels',
				mapsTo: 'key'
			},
			right: {
				title: 'transcription length',
				mapsTo: 'transcriptionlength',
				correspondingDatasets: ['lengths']
			}
		},
		comboChartTypes: [
			{
				type: 'area',
				options: {},
				correspondingDatasets: ['lengths']
			},
			{
				type: 'line',
				options: {
					points: {
						enabled: true
					}
				},
				correspondingDatasets: ['transcriptions']
			}
		],
		color: {
			scale: {
				lengths: colors[0],
				lines: colors[1]
			}
		},
		curve: 'curveNatural',
		height: '70vh'
	};
</script>

<button on:click={() => ($toggle = !$toggle)}>clik</button>

<ComboChart {data} {options} />
