<script>
	import { StackedAreaChart, DonutChart } from '@carbon/charts-svelte';
	import { NumberInput, Tile, TextInput, truncate } from 'carbon-components-svelte';
	import { page } from '$app/stores';

	let results = $page.data.results.filter((r) => r.year > 1900 && r.year < 1905);
	let value = $page.params.keyword;

	let howMany = 5;

	const range = [
		results.reduce((w, p) => (w.year < p.year ? w : p)).year,
		results.reduce((w, p) => (w.year > p.year ? w : p)).year
	];
	// console.log(results);
	let fraction = Math.round((range[1] - range[0]) / howMany);

	let groups = Array.from({ length: howMany }).map((_, i) => [
		range[0] + i * fraction,
		range[0] + i * fraction + fraction
	]);

	function wordfinderCounter(group, which) {
		let sourceList = which === 'sw' ? sw : which === 'cw' ? cw : aw;
		let groupResults = results.filter(
			(r) => sourceList.includes(r.text) && r.year > group[0] && r.year < group[1]
		);
		// console.log('which', which);
		// console.log('groupResults', groupResults);
		return groupResults.length;
	}

	const data = groups
		.map((group) => {
			let grCount = results.filter((r) => r.year > group[0] && r.year < group[1]).length;

			return {
				group: group[0] + '-' + group[1],
				value: grCount
			};
		})
		.flat();
</script>

<Tile>
	<NumberInput
		min={2}
		max={10}
		bind:value={howMany}
		invalidText="Number must be between 2 and 10."
		helperText="How many groups of years"
		label="Groups of years"
	/>
	<TextInput labelText="Search term" placeholder="Enter a word..." bind:value />

	<DonutChart
		{data}
		options={{
			title: 'word appearance',
			resizable: true,
			donut: {
				center: {
					label: 'appearances'
				}
			},
			height: '80vh'
		}}
	/>
</Tile>
