<script>
	import '@carbon/charts/styles.css';
	import '@carbon/styles/css/styles.css';
	import 'carbon-components-svelte/css/g10.css';
	import '/src/main.scss';
	import { Column, Content, Grid, Row } from 'carbon-components-svelte';
	import Header from '$lib/header.svelte';
</script>

<Header />
<Content>
	<Grid>
		<Row>
			<Column>
				<slot />
			</Column>
		</Row>
	</Grid>
</Content>
