<script>
	import { base } from '$app/paths';
	export let data;
	import { keyword } from '$src/stores';
	// console.log(data);
	let doota;
	let value;
	let loading = true;
	async function getData() {
		const response = await fetch(`/api/kw?keyword=${value}`);
		doota = { results: await response.json() };
		// console.log(doota);
		// loading = false;
	}
	// USE UNCLEAR AS ITS OWN THING
</script>

{#await getData()}
	loading...
{:then}
	{doota.length}
{/await}
<!-- <form on:submit={() => getData(value)}> -->
<input bind:value={$keyword} name="name" type="text" />
<button on:click={() => getData($keyword)}>ok</button>
<!-- </form> -->
