<script>
	import { AlluvialChart } from '@carbon/charts-svelte';

	import { Tile, TextInput, truncate } from 'carbon-components-svelte';
	import { page } from '$app/stores';
	import stopwords from '$data/stopwords.json';

	let results = $page.data.results.filter((r) => r.year > 1889 && r.year < 1915);
	let value = $page.params.kw;

	// let years = results.map((r) => r.year).sort((a, b) => a - b);
	// years = [...new Set(years)];
	// console.log(years);

	let allWordsCounted = {};
	let proc_allWordsCounted = results.map((word) => {
		let { text, year } = word;
		if (text in allWordsCounted) {
			allWordsCounted[text] += 1;
		} else {
			allWordsCounted[text] = 1;
		}
	});
	allWordsCounted = Object.entries(allWordsCounted)
		.sort(([ka, va], [kb, vb]) => (va > vb ? -1 : 1))
		.filter((f) => f);

	let stopwordCounts = allWordsCounted.filter((wordArray) => wordArray[0] in stopwords);
	let commonWordCounts = allWordsCounted.filter(
		(wordArray, idx) => !Object.keys(stopwords).includes(wordArray[0]) && idx < 250
	);
	let allTheRest = allWordsCounted.filter(
		(wordArray, idx) =>
			!Object.keys(stopwords).includes(wordArray[0]) &&
			!commonWordCounts.map((cwc) => cwc[0]).includes(wordArray[0])
	);
	let sw = stopwordCounts.map((sww) => sww[0]);
	let cw = commonWordCounts.map((cww) => cww[0]);
	let aw = allTheRest.map((aww) => aww[0]);

	let shortColors = [
		[241, 97, 81],
		[32, 84, 62],
		[146, 88, 64],
		[64, 81, 163],
		[126, 196, 226],
		[173, 43, 90],
		[205, 184, 209],
		[17, 26, 42]
	];

	let altColors = [
		'#da1e28',
		'#b28600',
		'#198038',
		'#ee538b',
		'#08bdba',
		'#1192e8',
		'#a56eff',
		'#009d9a',
		'#fa4d56',
		'#198038'
	];

	let howMany = 5;

	const range = [
		results.reduce((w, p) => (w.year < p.year ? w : p)).year,
		results.reduce((w, p) => (w.year > p.year ? w : p)).year
	];
	let fraction = Math.round((range[1] - range[0]) / howMany);

	let groups = Array.from({ length: howMany }).map((_, i) => [
		range[0] + i * fraction,
		range[0] + i * fraction + fraction
	]);

	const nodes = [
		{
			name: 'Common Words',
			category: 'Word Type'
		},
		{
			name: 'Stop Words',
			category: 'Word Type'
		},
		{
			name: 'All the Rest',
			category: 'Word Type'
		},
		...groups.map((g) => ({ name: g[0] + '-' + g[1], category: 'Date Ranges' }))
	];

	function wordfinderCounter(group, which) {
		let sourceList = which === 'sw' ? sw : which === 'cw' ? cw : aw;
		let groupResults = results.filter(
			(r) => sourceList.includes(r.text) && r.year > group[0] && r.year < group[1]
		);
		// console.log('which', which);
		// console.log('groupResults', groupResults);
		return groupResults.length;
	}
	const doata = groups
		.map((group) => {
			let swFinderCounter = wordfinderCounter(group, 'sw');
			let cwFinderCounter = wordfinderCounter(group, 'cw');
			let awFinderCounter = wordfinderCounter(group, 'aw');
			let dootas = [swFinderCounter, cwFinderCounter, awFinderCounter]
				.map((grCount, idx) => {
					let target = idx === 0 ? 'Stop Words' : idx === 1 ? 'Common Words' : 'All the Rest';
					return {
						source: group[0] + '-' + group[1],
						target: target,
						value: grCount
					};
				})
				.flat();
			return dootas;
		})
		.flat();
	// console.log('doata', doata);
	const colors = nodes
		.map((n, idx) => [n.name, altColors[idx > altColors.length ? idx % altColors.length : idx]])
		.reduce((obj, item) => ((obj[item[0]] = item[1]), obj), {});
	let sources = nodes.filter((n) => n.category === 'Date Ranges');
	let targets = nodes.filter((n) => n.category === 'Word Type');
	const doota = Array.from({ length: 20 }).map((_, i) => {
		const rando = Math.round(Math.random() * i);
		let target = targets.length > i ? targets[i] : targets[i % targets.length];
		let source = sources.length > i ? sources[i] : sources[i % sources.length];
		return {
			source: source.name,
			target: target.name,
			value: rando
		};
	});
	// console.log('doota', doota);
</script>

<div class="term-search">
	<h1>{value}</h1>
	<TextInput hideLabel labelText="Transcription Term" placeholder="Enter word..." />
</div>

<Tile>
	<AlluvialChart
		data={doata}
		options={{
			title: 'Alluvial (gradient)',
			alluvial: {
				nodes: nodes
			},
			height: '80vh',
			color: {
				scale: colors,
				gradient: {
					enabled: true
				}
			}
		}}
	/>
</Tile>

<style lang="scss">
	.term-search {
		display: flex;
		justify-content: center;
		align-items: center;
		h1 {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
		}
	}
	:global(.bx--text-input-wrapper) {
		flex: 1 !important;
	}
	dt {
		font-weight: bold;
	}
</style>
