<script>
	import { ComboChart } from '@carbon/charts-svelte';
	import { toggle } from '$src/stores';

	import yearfreq from '$data/yearfreq.json';
	$: colors = $toggle
		? ['rgb(64,81,163)', 'rgb(126,196,226)']
		: ['rgb(241,97,81)', 'rgb(146,88,64)'];
	let groups = [
		[1700, 1749, 0, 0],
		[1750, 1799, 0, 0],
		[1800, 1849, 0, 0],
		[1850, 1899, 0, 0],
		[1900, 1949, 0, 0],
		[1950, 1999, 0, 0]
	];
	let quarters = {
		words: Object.entries(yearfreq.words).map(([k, v]) => {
			groups.map((g) => (g[0] < k && g[1] > k ? (g[2] += v) : 'nope'));
		}),
		lines: Object.entries(yearfreq.lines).map(([k, v]) => {
			groups.map((g) => (g[0] < k && g[1] > k ? (g[3] += v) : 'nope'));
		}),
		linelength: groups.map((g) => [...g, Math.round(g[2] / g[3])])
	};

	let data = [
		...groups.map((y) => ({
			group: 'transcriptions',
			key: y[0] + '-' + y[1],
			transcriptioncount: y[3]
		})),
		...groups.map((y) => ({
			group: 'lengths',
			key: y[0] + '-' + y[1],
			transcriptionlength: Math.round((y[2] / y[3]) * 100) / 100 / 50
		}))
	];
	// console.log(groups);
	$: options = {
		title: 'Transcription / Time  (Line + Area)',
		points: {
			enabled: false
		},
		axes: {
			left: {
				title: 'transcription count',
				mapsTo: 'transcriptioncount',
				correspondingDatasets: ['transcriptions']
			},
			bottom: {
				scaleType: 'labels',
				mapsTo: 'key'
			},
			right: {
				title: 'transcription length',
				mapsTo: 'transcriptionlength',
				correspondingDatasets: ['lengths']
			}
		},
		comboChartTypes: [
			{
				type: 'area',
				options: {},
				correspondingDatasets: ['lengths']
			},
			{
				type: 'line',
				options: {
					points: {
						enabled: true
					}
				},
				correspondingDatasets: ['transcriptions']
			}
		],
		color: {
			scale: {
				lengths: colors[0],
				lines: colors[1]
			}
		},
		curve: 'curveNatural',
		height: '70vh'
	};
</script>

<button on:click={() => ($toggle = !$toggle)}>clik</button>

<ComboChart {data} {options} />
