<script>
    import { base } from "$app/paths";
    import { BubbleChart } from "@carbon/charts-svelte";
    import topWordsPerDecade from "$data/truncated_list.json";
    import allWordsPerDecade from "$data/words_per_year.json";
    // each word and its percentage of its whole

    function summer(year, word) {
        let summ = Object.values(topWordsPerDecade[year]).reduce(
            (whole, part) => whole + part
        );
        let er = (topWordsPerDecade[year][word] / summ) * 100;
        return er;
    }

    const data = Object.keys(topWordsPerDecade)
        .map((twy) =>
            Object.keys(topWordsPerDecade[twy]).map((tw, idx) => ({
                group: tw,
                date: new Date(twy, "00").toISOString(),
                value: topWordsPerDecade[twy][tw],
                surplus: summer(twy, tw),
            }))
        )
        .map((m) => m.filter((f, idx) => idx < 4))
        .flat();
</script>

<BubbleChart
    {data}
    options={{
        title: "Bubble (time series)",
        axes: {
            bottom: {
                title: "2019 Annual Sales Figures",
                scaleType: "time",
                mapsTo: "date",
            },
            left: {
                mapsTo: "value",
            },
        },
        bubble: {
            radiusMapsTo: "surplus",
        },
        height: "80vh",
    }}
/>
