<script>
	import { base } from "$app/paths";
	import wordCounts from "$data/truncated_list.json";
	import { ScatterChart } from "@carbon/charts-svelte";
	const masterWordList = {
		the: 191942,
		to: 145210,
		and: 109130,
		of: 108091,
		in: 67317,
		for: 32736,
		it: 32585,
		is: 30477,
		at: 24442,
		you: 22500,
		that: 10616,
		all: 10199,
		we: 9867,
		have: 9804,
		with: 9659,
		by: 3255,
		was: 3056,
		on: 2884,
		be: 2683,
		he: 2519,
		from: 34,
		your: 20,
	};
	let scatterData = Object.keys(wordCounts)
		.map((wc) =>
			Object.keys(wordCounts[wc]).map((wcwc) => ({
				group: wcwc,
				date: new Date(wc, "00").toISOString(),
				value: wordCounts[wc][wcwc],
			}))
		)
		.flat();
	// console.log(scatterData);
	let options = {
		title: "Word Counts; no stop words, including top 10 from each decade (Scatter Chart)",
		axes: {
			bottom: {
				title: "word count by year",
				scaleType: "time",
				mapsTo: "date",
			},
			left: {
				mapsTo: "value",
			},
		},
		height: "80vh",
	};
</script>

<ScatterChart data={scatterData} {options} />

<h3><a href={base + "/counts"}>Next: All Words?</a></h3>
