<script>
	import { BubbleChart } from '@carbon/charts-svelte';
</script>

<BubbleChart
	data={[
		{
			group: 'Dataset 1',
			date: '2019-01-01T06:00:00.000Z',
			value: 50000,
			surplus: 901623591.0739989
		},
		{
			group: 'Dataset 1',
			date: '2019-01-05T06:00:00.000Z',
			value: 65000,
			surplus: 474224968.9432553
		},
		{
			group: 'Dataset 1',
			date: '2019-01-08T06:00:00.000Z',
			value: null,
			surplus: 17096.311936753646
		},
		{
			group: 'Dataset 1',
			date: '2019-01-13T06:00:00.000Z',
			value: 49213,
			surplus: 253997911.77526784
		},
		{
			group: 'Dataset 1',
			date: '2019-01-17T06:00:00.000Z',
			value: 51213,
			surplus: 847421867.3989705
		},
		{
			group: 'Dataset 2',
			date: '2019-01-02T06:00:00.000Z',
			value: 0,
			surplus: 14410.221741444419
		},
		{
			group: 'Dataset 2',
			date: '2019-01-06T06:00:00.000Z',
			value: 57312,
			surplus: 1072789405.6061645
		},
		{
			group: 'Dataset 2',
			date: '2019-01-08T06:00:00.000Z',
			value: 27432,
			surplus: 527808700.6292109
		},
		{
			group: 'Dataset 2',
			date: '2019-01-15T06:00:00.000Z',
			value: 70323,
			surplus: 592462531.267636
		},
		{
			group: 'Dataset 2',
			date: '2019-01-19T06:00:00.000Z',
			value: 21300,
			surplus: 41818313.18594417
		},
		{
			group: 'Dataset 3',
			date: '2019-01-01T06:00:00.000Z',
			value: 40000,
			surplus: 465228940.02370703
		},
		{
			group: 'Dataset 3',
			date: '2019-01-05T06:00:00.000Z',
			value: null,
			surplus: 10896.510032361362
		},
		{
			group: 'Dataset 3',
			date: '2019-01-08T06:00:00.000Z',
			value: 18000,
			surplus: 179960962.9049255
		},
		{
			group: 'Dataset 3',
			date: '2019-01-13T06:00:00.000Z',
			value: 39213,
			surplus: 562417033.1556828
		},
		{
			group: 'Dataset 3',
			date: '2019-01-17T06:00:00.000Z',
			value: 61213,
			surplus: 201813096.88702792
		},
		{
			group: 'Dataset 4',
			date: '2019-01-02T06:00:00.000Z',
			value: 20000,
			surplus: 4294913.537224221
		},
		{
			group: 'Dataset 4',
			date: '2019-01-06T06:00:00.000Z',
			value: 37312,
			surplus: 575734377.3976197
		},
		{
			group: 'Dataset 4',
			date: '2019-01-08T06:00:00.000Z',
			value: 51432,
			surplus: 1232012515.8508916
		},
		{
			group: 'Dataset 4',
			date: '2019-01-15T06:00:00.000Z',
			value: 25332,
			surplus: 65214636.20314067
		},
		{
			group: 'Dataset 4',
			date: '2019-01-19T06:00:00.000Z',
			value: null,
			surplus: 12574.206104401032
		}
	]}
	options={{
		title: 'Bubble (time series)',
		axes: {
			bottom: {
				title: '2019 Annual Sales Figures',
				scaleType: 'time',
				mapsTo: 'date'
			},
			left: {
				mapsTo: 'value'
			}
		},
		bubble: {
			radiusMapsTo: 'surplus'
		},
		height: '80vh'
	}}
/>
