<script>
    import { base } from "$app/paths";
    import { StackedAreaChart } from "@carbon/charts-svelte";
    import stopwords from "$data/years_with_stopwords.json";
    import { append } from "svelte/internal";
    let data = Object.keys(stopwords)
        .map((swy) =>
            Object.keys(stopwords[swy]).map((sw) => {
                // console.log("swy", swy);
                // console.log("sw", sw);
                // console.log("stopwords[swy][sw]", stopwords[swy][sw]);
                return {
                    group: sw,
                    date: new Date(swy, "00").toISOString(),
                    value: stopwords[swy][sw],
                };
            })
        )
        .flat();
    // console.log(stopwords["1800"]["of"]);
    // console.log(dataProcessor);
</script>

<StackedAreaChart
    {data}
    options={{
        title: "Stop Words over Decades",
        axes: {
            left: {
                stacked: true,
                scaleType: "linear",
                mapsTo: "value",
            },
            bottom: {
                scaleType: "time",
                mapsTo: "date",
            },
        },
        curve: "curveMonotoneX",
        height: "90vh",
    }}
/>
