<script>
	export let data;

	let words = data.filters.terms || ['chicago'];
	let { years } = data.filters;

	let { results } = data;

	let howMany = 10;

	let range = years
		? years.length > 1
			? [Math.min(...years), Math.max(...years)]
			: [years[0], Math.max(...results.map((d) => d.year))]
		: [Math.min(...results.map((d) => d.year)), Math.max(...results.map((d) => d.year))];

	let fraction = Math.round((range[1] - range[0]) / howMany);

	let groups = Array.from({ length: howMany }).map((_, i) => [
		range[0] + i * fraction,
		range[0] + i * fraction + fraction,
		words
			.map((word) => [
				word,
				results.filter(
					(r) =>
						range[0] + i * fraction < r.year &&
						range[0] + i * fraction + fraction > r.year &&
						r.text.indexOf(word) > -1
				).length
			])
			.reduce((obj, item) => ((obj[item[0]] = item[1]), obj), {}),
		words
			.map((word) => [
				word,
				(results.filter(
					(r) =>
						range[0] + i * fraction < r.year &&
						range[0] + i * fraction + fraction > r.year &&
						r.text.indexOf(word) > -1
				).length /
					results.filter((r) => r.text.indexOf(word) > -1).length) *
					100
			])
			.reduce((obj, item) => ((obj[item[0]] = item[1]), obj), {})
	]);
	const nodes = [...groups.map((g) => ({ name: g[0] + '-' + g[1], category: 'Date Ranges' }))];
	const options = {
		title: 'Kira Did 100',
		alluvial: {
			nodes: nodes
		}
	};
	// ]);
	// let chartData = words
	// 	.map((word) =>
	// 		groups.map((g) => ({
	// 			group: word,
	// 			date: new Date(g[0], '00'),
	// 			value: g[2][word],
	// 			percent: g[3][word]
	// 		}))
	// 	)
	// 	.flat();
</script>

<pre>
    {JSON.stringify(groups, null, 4)}
</pre>
