<script>
    import { base } from "$app/paths";
    import { BoxplotChart } from "@carbon/charts-svelte";
    import topWordsPerDecade from "$data/truncated_list.json";
    import allWordsPerDecade from "$data/words_per_year.json";

    const data = Object.keys(topWordsPerDecade)
        .map((twy) =>
            Object.keys(topWordsPerDecade[twy]).map((tw, idx) => ({
                group: twy,
                key: "#" + (idx + 1),
                value:
                    (topWordsPerDecade[twy][tw] / allWordsPerDecade[twy]) * 100,
            }))
        )
        .flat();
    console.log(data);
</script>

<BoxplotChart
    {data}
    options={{
        title: "Each Decade's Top Words as Percents of that Decade's Whole (Vertical box plot)",
        axes: {
            left: {
                mapsTo: "value",
            },
            bottom: {
                scaleType: "labels",
                mapsTo: "group",
            },
        },
        height: "80vh",
    }}
/>

<h3><a href={base + "/percent/simple/nomrs"}>Next: Maybe No Mrs?</a></h3>
