<script>
	import { page } from '$app/stores';
	// export let actions;
	async function getData() {}
	// $: $page.data;
	$: data = $page.data;
</script>

{#if data}
	<pre>
    
    {JSON.stringify(data.length, null, 4)}
</pre>
{/if}
<form method="GET" action="/api/kw">
	<input name="name" type="text" />
	<button type="submit">ok</button>
	<!-- content -->
</form>
