<script>
	import { goto } from '$app/navigation';
	import { StackedAreaChart } from '@carbon/charts-svelte';
	import { NumberInput, Tile, TextInput, Toggle, truncate } from 'carbon-components-svelte';
	import { page } from '$app/stores';
	let results = $page.data.results.filter((r) => r.year > 1600 && r.year < 1973);
	console.log($page.data.results);
	let range =
		results.length > 0
			? [
					results.reduce((w, p) => (w.year < p.year ? w : p)).year,
					results.reduce((w, p) => (w.year > p.year ? w : p)).year
			  ]
			: [1699, 1973];
	let keywords = [...new Set(results.map((r) => r.text))];
	// $page.params.keywords.indexOf('/') > -1
	// 	? $page.params.keywords.split('/')
	// 	: [$page.params.keywords];
	$: value = keywords.join(', ');

	console.log(keywords);
	let frequ = results.reduce((w, p) => {
		if (p.text && !w[p.text]) {
			w[p.text] = {};
		}
		if (w[p.text][p.year]) {
			w[p.text[p.year]] += 1;
		} else {
			w[p.text][p.year] = 1;
		}
		return w;
	}, {});

	console.log('frequ', frequ);
	let freq = {};

	if (results.length > 0) {
		let proc_freq = keywords.map((k) => {
			if (!freq[k]) {
				freq[k] = {};
			}
			results.map((r) => (r.year in freq[k] ? (freq[k][r.year] += 1) : (freq[k][r.year] = 1)));
		});
	}
	$: data = Object.keys(frequ).map((kw) =>
		Object.keys(frequ[kw]).map((year) => ({
			group: kw,
			date: new Date(year, '00', '01').toISOString(),
			value: freq[year]
		}))
	);

	// $: data = keywords
	// 	.map((kw) =>
	// 		Object.keys(freq[kw]).map((year) => ({
	// 			group: kw,
	// 			date: new Date(year, '00', '01').toISOString(),
	// 			value: freq[year]
	// 		}))
	// 	)
	// 	.flat();
	console.log(data);
	function textHandler(e) {
		if (e.key === 'Enter') {
			let url = '/area/' + value.split(',').join('/');
			goto(url);
		}
	}

	$: options = {
		title: `${keywords.join(', ')} appear${keywords.length > 1 ? '' : 's'} ${
			results.length
		} times from ${range[0]} to ${range[1]}`,
		axes: {
			left: {
				stacked: true,
				percentage: false,
				ticks: {}
			},
			bottom: {
				scaleType: 'time',
				mapsTo: 'date'
			}
		},
		curve: 'curveMonotoneX',
		height: '70vh'
	};
</script>

<Tile>
	<TextInput hideLabel placeholder="Enter a word..." bind:value on:keyup={(e) => textHandler(e)} />
	<div class="nr">
		{#if results.length === 0}
			<h1>No results.</h1>
		{:else}
			<StackedAreaChart {data} {options} />
		{/if}
	</div>
</Tile>

<style>
	.nr {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 32px 0;
	}
	.flex-item {
		flex: 1;
	}
</style>
