@use "sass:color";
@mixin slashy($rightSide:rgb(var(--colorLight)),$leftSide:rgb(var(--colorSplash))) {
    background: linear-gradient(
        var(--angleDegs),
        $rightSide 0vw, var(--distance),
        $leftSide var(--distance) 100vw
    );
    background-attachment: fixed !important;
}


@mixin newberry-colors {
    --flame: 241,97,81;
    --parkGreen: 32,84,62;
    --tile: 146,88,64;
    --sapphire: 64,81,163;
    --lake: 126,196,226;
    --mulberry: 173,43,90;
    --lavender: 205,184,209;
    --midnight: 17,26,42;
    --sand: 234,220,201;
    --granite: 234,235,231;
    }
@mixin fooncy-links {
    color: rgba(var(--colorDark), 1);
    text-decoration: none;
    background: linear-gradient(to right,
            rgba(var(--colorDark), 0.3),
            rgba(var(--colorDark), 0.3)),
        linear-gradient(to right, rgba(var(--colorDark), 1), rgba(var(--colorDark), 1));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}

body {
    @include newberry-colors;
    @include slashy;
    --colorLight: var(--granite);
    --colorDark: var(--midnight);
    --colorSplash: var(--lavender);
    --angleDegs: 210deg;
    --distance: 40vw;
    min-height: calc(100vh - 76px);
    color: rgba(var(--colorDark), 1);
   

}
h3 a {
 @include fooncy-links;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 8vh;
}