<script>
	let howMany = 10;
	let stoop = 12097;
	let step = stoop * howMany;
	import summary from '$data/summary';

	let wordlists = Object.keys(summary).map((s) => [s, Object.keys(summary[s][1])]);
	// console.log(wordlists);

	let wordlist = ['ok', 'this', 'is', 'a', 'test'];

	let sqllines = wordlists.map((wl) => [
		wl[0],
		Array.from({ length: howMany }).map((_, i) => {
			let range = [3080146 + i * step, 3080146 + (i * step + step)];
			return (
				'sudo mysql -D transcdemo -e "select year, count(*) from yearwords where id > ' +
				range[0] +
				' and id < ' +
				range[1] +
				" and text in ('" +
				wl[1].join("','") +
				'\') group by year order by year;" >> ' +
				wl[0] +
				'.txt'
			);
		})
	]);

	// console.log(sqllines);
</script>

<pre>
{JSON.stringify(step, null, 4)}
</pre>
