<script>
	import { RadarChart } from '@carbon/charts-svelte';
	import { page } from '$app/stores';
	import { Tile } from 'carbon-components-svelte';
	import { text } from 'svelte/internal';
	export let data;

	let { words } = data;
	// console.log('words', words);
	let { results } = data;
	let years = results.map((d) => d.year);
	let range = [Math.min(...results.map((d) => d.year)), Math.max(...results.map((d) => d.year))];
	// console.log('results', results);
	// console.log('range', range);

	let fifths = Math.round((range[1] - range[0]) / 5);
	// console.log('fifths', fifths);

	let groups = Array.from({ length: 5 }).map((_, i) => [
		range[0] + i * fifths,
		range[0] + i * fifths + fifths,
		words.map((word) => ({
			[word]: results.filter(
				(r) =>
					range[0] + i * fifths < r.year &&
					range[0] + i * fifths + fifths > r.year &&
					r.text.indexOf(word) > -1
			).length
		})),
		words.map((word) => ({
			[word]:
				(results.filter(
					(r) =>
						range[0] + i * fifths < r.year &&
						range[0] + i * fifths + fifths > r.year &&
						r.text.indexOf(word) > -1
				).length /
					results.filter((r) => r.text.indexOf(word) > -1).length) *
				100
		}))
	]);
	let chartData = words
		.map((word) =>
			groups.map((g, idx) => ({
				word: word.indexOf(word),
				group: 'range-' + g[0] + '-' + g[1],
				count: groups[2][word],
				percent: groups[3][word]
			}))
		)
		.flat();
	let charPthertData = words
		.map((word) =>
			groups.map((g, idx) => ({
				word: word.indexOf(word),
				group: 'range-' + g[0] + '-' + g[1],
				count: results
					.filter((r) => g[0] < r.year && g[1] > r.year && r.text.indexOf(word) > -1)
					.reduce((w, p) => (w[0] > p ? [w[0], p / w[0]] : [p, 1]))
					.pop()
			}))
		)
		.flat();
	// console.log('groups', groups);
</script>

<Tile>
	<RadarChart
		data={chartData}
		options={{
			title: `When did ${words.length > 1 ? words.join(' or ') : words} appear (Radar)`,
			radar: {
				axes: {
					angle: 'group',
					value: 'count'
				},
				alignment: 'center'
			},
			data: {
				groupMapsTo: 'word'
			},
			legend: {
				alignment: 'center'
			},
			color: {
				scale: {
					[words[1]]: '#ffffff'
				}
			},
			height: '80vh'
		}}
	/>
</Tile>
