<script>
    import { BulletChart } from "@carbon/charts-svelte";
    import { base } from "$app/paths";
    import topWordsPerDecade from "$data/truncated_list.json";
    import allWordsPerDecade from "$data/words_per_year.json";
    // ranges: max: max p

    function summer(year, word) {
        let summ = Object.values(topWordsPerDecade[year]).reduce(
            (whole, part) => whole + part
        );
        let er = (topWordsPerDecade[year][word] / summ) * 100;
        return er;
    }

    const data = Object.keys(topWordsPerDecade)
        .map((twy) =>
            Object.keys(topWordsPerDecade[twy]).map((tw, idx) => ({
                title: twy,
                group: tw,
                ranges: summer(twy, tw),

                date: new Date(twy, "00").toISOString(),
                value: topWordsPerDecade[twy][tw],
                surplus: summer(twy, tw),
            }))
        )
        .map((m) => m.filter((f, idx) => idx < 4))
        .flat();
</script>

<BulletChart
    data={[
        {
            title: "Item E",
            group: "D3",
            ranges: [350, 650, 980],
            marker: 1575,
            value: 400,
        },
        {
            title: "Item D",
            group: "D2",
            ranges: [750, 1200, null],
            marker: 1725,
            value: 2100,
        },
        {
            title: "Item C",
            group: "D3",
            ranges: [350, 500, 1005],
            marker: 1340,
            value: 550,
        },
        {
            title: "Item B",
            group: "D1",
            ranges: [300, 895, 1600],
            marker: 1455,
            value: 1000,
        },
        {
            title: "Item A",
            group: "D1",
            ranges: [800, 1000, 1400],
            marker: 1275,
            value: 250,
        },
    ]}
    options={{
        title: "Basic bullet",
        axes: {
            bottom: {
                mapsTo: "value",
                extendLinearDomainBy: "marker",
            },
            left: {
                scaleType: "labels",
                mapsTo: "title",
            },
            right: {
                scaleType: "labels-ratio",
                mapsTo: "title",
            },
        },
        height: "400px",
    }}
/>
