<script>
    import { AlluvialChart } from "@carbon/charts-svelte";

    import { TextInput } from "carbon-components-svelte";
    import topWordsPerDecade from "$data/truncated_list.json";
    import allWordsPerDecade from "$data/words_per_year.json";
    let value = "Chicago";
    // let nodes = Object.keys(topWordsPerDecade).map((twy) => ({
    //     name: twy,
    //     category: "Decade",
    // }));
    let nodes = [
        ...Object.keys(topWordsPerDecade).map((twy) => ({
            name: twy,
            category: "Decade",
        })),
        { name: "Top 100", category: "Group" }, // percent of top 100 words of the whole 25 year period
        { name: "Stop Words", category: "Group" }, // percent of top ten words of the whole 25 year period
        { name: "All The Rest", category: "Group" }, //  percent of all other words of the whole 25 year period
        { name: value, category: "Group" },
    ];
    console.log(nodes);

    $: scale = {
        "1800": "#da1e28",
        "1850": "#b28600",
        "1900": "#198038",
        "1950": "#ee538b",
        "Top 100": "#08bdba",
        "Stop Words": "#1192e8",
        "All The Rest": "#a56eff",
        value: "#009d9a",
    };
</script>

<div class="term-search">
    <h1>{value}</h1>
    <TextInput
        hideLabel
        labelText="Transcription Term"
        placeholder="Enter word..."
    />
</div>
<AlluvialChart
    data={[
        {
            source: "About Modal",
            target: "Data and AI, AI Apps",
            value: 5,
        },
        {
            source: "About Modal",
            target: "Data and AI, Info Architecture",
            value: 4,
        },
        {
            source: "About Modal",
            target: "Public Cloud",
            value: 3,
        },
        {
            source: "About Modal",
            target: "Security",
            value: 4,
        },
        {
            source: "About Modal",
            target: "Automation",
            value: 8,
        },
        {
            source: "Cards",
            target: "Data and AI, AI Apps",
            value: 6,
        },
        {
            source: "Cards",
            target: "Data and AI, Info Architecture",
            value: 15,
        },
        {
            source: "Cards",
            target: "Public Cloud",
            value: 2,
        },
        {
            source: "Cards",
            target: "Security",
            value: 10,
        },
        {
            source: "Cards",
            target: "Automation",
            value: 13,
        },
        {
            source: "Create Flow",
            target: "Data and AI, AI Apps",
            value: 2,
        },
        {
            source: "Create Flow",
            target: "Data and AI, Info Architecture",
            value: 15,
        },
        {
            source: "Create Flow",
            target: "Public Cloud",
            value: 1,
        },
        {
            source: "Create Flow",
            target: "Security",
            value: 6,
        },
        {
            source: "Create Flow",
            target: "Automation",
            value: 15,
        },
        {
            source: "Notifications",
            target: "Data and AI, Info Architecture",
            value: 14,
        },
        {
            source: "Notifications",
            target: "Public Cloud",
            value: 3,
        },
        {
            source: "Notifications",
            target: "Security",
            value: 3,
        },
        {
            source: "Page Header",
            target: "Data and AI, AI Apps",
            value: 4,
        },
        {
            source: "Page Header",
            target: "Data and AI, Info Architecture",
            value: 8,
        },
        {
            source: "Page Header",
            target: "Automation",
            value: 13,
        },
    ]}
    options={{
        title: "Alluvial (gradient)",
        alluvial: {
            nodes: [
                {
                    name: "About Modal",
                    category: "Pattern",
                },
                {
                    name: "Cards",
                    category: "Pattern",
                },
                {
                    name: "Create Flow",
                    category: "Pattern",
                },
                {
                    name: "Page Header",
                    category: "Pattern",
                },
                {
                    name: "Notifications",
                    category: "Pattern",
                },
                {
                    name: "Data and AI, AI Apps",
                    category: "Group",
                },
                {
                    name: "Data and AI, Info Architecture",
                    category: "Group",
                },
                {
                    name: "Public Cloud",
                    category: "Group",
                },
                {
                    name: "Security",
                    category: "Group",
                },
                {
                    name: "Automation",
                    category: "Group",
                },
            ],
        },
        height: "80vh",
        color: {
            scale: {
                Cards: "#da1e28",
                "About Modal": "#b28600",
                "Create Flow": "#198038",
                "Page Header": "#ee538b",
                Notifications: "#08bdba",
                "Data and AI, AI Apps": "#1192e8",
                "Data and AI, Info Architecture": "#a56eff",
                Security: "#009d9a",
                Automation: "#fa4d56",
                "Public Cloud": "#198038",
            },
            gradient: {
                enabled: true,
            },
        },
    }}
/>

<style lang="scss">
    .term-search {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }
    }
    :global(.bx--text-input-wrapper) {
        flex: 1 !important;
    }
</style>
