<script>
    import { base } from "$app/paths";
    import { BarChartStacked } from "@carbon/charts-svelte";
    import topWordsPerDecade from "$data/truncated_list.json";
    import allWordsPerDecade from "$data/words_per_year.json";
    const data = Object.keys(topWordsPerDecade)
        .map((twy) =>
            Object.keys(topWordsPerDecade[twy]).map((tw) => ({
                group: tw,
                date: new Date(twy, "00").toISOString(),
                value:
                    (topWordsPerDecade[twy][tw] / allWordsPerDecade[twy]) * 100,
            }))
        )
        .flat();
    console.log(data);
</script>

<BarChartStacked
    {data}
    options={{
        title: "Top words as considered percentages of the whole set of words for each decade",
        axes: {
            left: {
                mapsTo: "value",
                stacked: true,
            },
            bottom: {
                mapsTo: "date",
                scaleType: "time",
            },
        },
        height: "400px",
    }}
/>

<h3><a href={base + "/percent/simple"}>Next: All Words?</a></h3>
