<dl>
    <dt>1. Word Counts - DONE</dt>
    <dd>no stop words, including top 10 from each decade</dd>
    <dd>ScatterData: /</dd>

    <dt>2. All Words Counted over Decades - DONE</dt>
    <dd>AreaChart: /counts</dd>

    <dt>3. Percent of Whole - DONE</dt>
    <dd>top words as percent of whole rather than objective</dd>
    <dd>BarChartStacked: /percent</dd>

    <dt>3. Percent of decade</dt>
    <dd>each decade's top words as percent, showing range of #1 to #10</dd>
    <dd>BarChartStacked: /percent/simple</dd>

    <dt>3. Percent of decade -</dt>
    <dd>same as above but removing 'mrs' from 1900</dd>
    <dd>BarChartStacked: /percent/simple/nomrs</dd>

    <dt>3. Percent of decade</dt>
    <dd>same as above but removing 1860 & 1870</dd>
    <dd>BarChartStacked: /percent/simple/nomrs/nocw</dd>

    <dt>4. top words popularity peaks</dt>
    <dd>Bubble: /peaks</dd>

    <dt>5. stop words popularity</dt>
    <dd>HeatmapChart: /stop-pop</dd>

    <dt>6. stop words as a group; over top words as a group</dt>
    <dd>StackedAreaChart: /stopwords</dd>

    <dt>7. top words compared to stop words and all other words</dt>
    <dd>TreemapChart: /top-pop</dd>

    <dt>z. word cloud</dt>
    <dd>WordCloudChart: /fini</dd>
</dl>
<pre>
    choose word
    percent of All
    percent of that decade's top 10 (avg of each)
    percent of that decade's stop words (avg of each)
</pre>

<style>
    dt,
    dd {
        margin: 8px;
    }
    dt {
        font-weight: bold;
        font-size: 1.2rem;
    }
    dd {
        font-size: 1.1rem;
        margin-left: 32px;
    }
</style>
