<script>
	import { base } from '$app/paths';
	import { onMount } from 'svelte';
	import { findWord } from '$utils/queries';
	export let form;
	export let data;
	let kwdata;
	let value = 'Chicago';

	$: console.log(data);
</script>

<form method="POST" action="?/search">
	<label>
		Email
		<input name="keyword" />
	</label>
	<button>search</button>
</form>
